
<div class="row">
  <div class="col-lg-4">
    <div class="list-group text-center fw-bold text-light fs-3">
      <a (click)="aplicarSonido(1)" href="#" class="list-group-item list-group-item-action" style="background-color: rgb(0, 255, 255);">1</a>
      <a (click)="aplicarSonido(2)" href="#" class="list-group-item list-group-item-action" style="background-color: rgb(255, 28, 28);">2</a>
      <a (click)="aplicarSonido(3)" href="#" class="list-group-item list-group-item-action" style="background-color: rgb(213, 255, 24);">3</a>
      <a (click)="aplicarSonido(4)" href="#" class="list-group-item list-group-item-action" style="background-color: rgb(40, 255, 76);">4</a>
      <a (click)="aplicarSonido(5)" href="#" class="list-group-item list-group-item-action" style="background-color: rgb(117, 31, 255);">5</a>
      <a (click)="aplicarSonido(6)" href="#" class="list-group-item list-group-item-action" style="background-color: rgb(255, 145, 0);">6</a>
      <a (click)="aplicarSonido(7)" href="#" class="list-group-item list-group-item-action" style="background-color: rgb(248, 35, 255);">7</a>
    </div>
  </div>
</div>



<!-- <audio controls>
  <source src="../assets/mi.mp3">
</audio> -->
